/UNOPomProject/cardfactory/target/
/UNOPomProject/effectrevolver/target/
/UNOPomProject/eventbus/target/
/UNOPomProject/gamemodel/target/
/UNOPomProject/networklayer/target/
/UNOPomProject/presentacionMVC/target/
